body {
  display: flex;
  flex-direction: column;
}

.box {
  height: 500px;
  width: 500px;
  background-color: red;
  margin: 50px;
}

.btn {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  justify-content: center;
  margin: 50px;
  width: 10%;
}
