@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("https://images.pexels.com/photos/5498355/pexels-photo-5498355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  overflow: hidden;
  background-position: center top;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 60%;
}

.form1 {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.226);
  border-radius: 30px;
  box-shadow: 0 0 10px #131313;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
  height: 60vh;
  z-index: 1;
}

.form1 button {
  margin-top: 90px;
}
.form2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.226);
  border-radius: 30px;
  box-shadow: 0 0 10px #131313;
  align-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  height: 60vh;
  opacity: 0;
}
h1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

label {
  font-size: 2rem;
  margin-top: 20px;
}

input {
  margin-top: 30px;
  font-size: 2rem;
  cursor: pointer;
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  border-radius: 20px;
  border: none;
  outline: none;
  text-align: center;
  background: #ffffff36;
  box-shadow: 0 0 10px #131313;
  padding: 10px;
  display: inline-block !important;
  visibility: visible !important;
}

.calculator-container {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.btnn {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  margin-top: 50px;
}

button {
  font-size: 1.5rem;
  padding: 4px 40px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  background-color: #131313;
  border-radius: 30px;
  transition: all 0.3s ease-out;
}

button:hover {
  color: #131313;
  background-color: rgba(255, 255, 255, 0.226);
  border-radius: 30px;
  box-shadow: 0 0 10px #131313;
}

.age {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.head {
  font-size: 4rem;
  margin-bottom: 50px;
}

.container-output {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.span-el {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.span-el span {
  font-size: 1.5rem;
  text-align: center;
}

.big-text {
  font-size: 2rem;
  justify-content: center;
  text-align: center;
}

.content-footer {
  display: flex;
  justify-content: space-around;
  height: 20vh;
  width: 100%;
  margin-top: 146px;
}

.fab {
  color: black;
  font-size: 4rem;
}

a {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  color: #131313;
  text-decoration: none;
}
