@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease;
}

body {
  background-image: linear-gradient(
    to top,
    #fdcbf1 0%,
    #fdcbf1 1%,
    #e6dee9 100%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  margin-bottom: 100px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  width: 600px;
  height: 50%;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 30px;
  box-shadow: 0 0 10px 5px #13131325;
}

.quiz-header {
  font-family: "Poppins", sans-serif;
  padding: 4rem;
  align-content: center;
  align-items: center;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  height: 100px;
  margin-bottom: 30px;
}

label {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

label:hover {
  text-shadow: 0 0 10px rgb(255, 217, 0);
}

input {
  cursor: pointer;
}

ul li {
  margin-top: 8px;
  list-style: none;
}

ul li:hover {
  transform: translateY(-1px);
}

.btn {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
  width: 100%;
  margin-top: auto;
  height: 30%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  box-shadow: 0 0 10px #13131354;
}

.btn:hover {
  box-shadow: 0 0 20px #13131359;
  transform: translateY(1px);
}

.question {
  display: flex;
  flex-direction: column;
}

.options {
  display: grid;
  grid-template-columns: 100px 300px;
  margin-left: auto;
  margin-right: auto;
}
.input-container {
  padding: 2rem;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30vh;
}

#btn01 {
  height: 300px;
}

#solution {
  width: 100%;
}
